<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="path_to_data" value="#value#"/>
        <add key="path_to_file_storage" value="F:\c#\CharRecognizer\CharRecognizer\file_storage"/>
    </appSettings>
</configuration>